<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>LaunchSplash</string>
		<key>UIColorName</key>
		<string>LaunchScreenBackground</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.adampadobe.aep-messaging-demo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>messagingdemo</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>processing</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon-Etihad</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Etihad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-KSIA</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-KSIA</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Flynas</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Flynas</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Travel</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Travel</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon-Etihad</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Etihad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-KSIA</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-KSIA</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Flynas</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Flynas</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Travel</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Travel</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
